<section class="contact" id="contact">
  <div class="contact-container">
    <h3 class="contact-header"><%=contact_nav%></h3>
    <section class="contact_call">
      <h3>
        <%=call_us%>
      </h3>
      <div href="tel:+48518769875">
        <i class="fa fa-phone-alt"></i>
        +48 518 769 875
      </div>
      <div href="tel:+48506324802">
        <i class="fa fa-phone-alt"></i>
        +48 506 324 802
      </div>
      <div>
        (also available on whatsapp, viber, telegram, WeChat)
      </div>
      <div href="mailto:bielapart@gmail.com">
        <i class="fas fa-envelope"> </i>
        bielapart@gmail.com
      </div>
      <div>
        <%=transfer_offer%>
      </div>
      <div class="contact-social">
        <a href="https://www.facebook.com/BielskiApartments/">
          <i class="fab fa-facebook-square">
          </i>
        </a>
        <a href="https://www.instagram.com/bielskiapartments/?hl=pl">
          <i class="fab fa-instagram">
          </i>
        </a>
        <a href="https://pl.tripadvisor.com/Profile/bielskiapartments">
          <i class="fab fa-tripadvisor">
          </i>
        </a>
      </div>
    </section>
    <section class="contact-book">
      <h3>
        <%=book_room%>
      </h3>
      <div class="book">
          <button class="rooms__selection-button"><a href="https://forms.gle/ccQnWNGSMke2rbE57" target="_blank"><%=room_spichrzowa_button%></a></button>
          <button class="rooms__selection-button"><a href="https://forms.gle/hLWSe6v2NXRgzomBA" target="_blank"><%=room_katarzynki_button%></a></button>
          <button class="rooms__selection-button"><a href="https://forms.gle/avXKxo9D3mnZxwxT8" target="_blank"><%=room_katarzynki_7_button%></a></button>
          <button class="rooms__selection-button"><a href="https://forms.gle/X8NiUxa9UCYsAm3z9" target="_blank"><%=room_lawendowa_button%></a></button>
          <button class="rooms__selection-button"><a href="https://forms.gle/evCJzvTqMbzWyU5b9" target="_blank"><%=room_ogarna_button%></a></button>
      </div>
    </section>
  </div>


</section>
</div>
<section class="map">
  <iframe src="https://goo.gl/maps/N3en9ERsSaHXiYNp7" width="100%" height="280">
  </iframe>
</section>
