<nav class="navigation" id="navbar">
  <div class="navigation__container">
    <ul class="navigation__items">
      <li class="navigation__item">
        <a href="#about"><%=about_nav%></a>
      </li>
      <li class="navigation__item">
        <a href="#rooms"><%=rooms_nav%></a>
      </li>
      <li class="navigation__item">
        <a href="#opinions"><%=opinions_nav%></a>
      </li>
      <li class="navigation__item">
        <a href="#contact"><%=contact_nav%></a>
      </li>
      <li class="navigation__item">
        <a href="#rules"><%=rules_nav%></a>
      </li>
      <li class="header-button__languages navigation__item">
        <a href="/en"><img src="/styles/css/icons/english.svg"></a>
      </li>
      <li class="header-button__languages navigation__item">
        <a href="/ru"><img src="/styles/css/icons/russian.svg"></a>
      </li>
      <li class="header-button__languages navigation__item">
        <a href="/no"><img src="/styles/css/icons/norwegian.svg"></a>
      </li>
      <li class="header-button__languages navigation__item">
        <a href="/pl"><img src="/styles/css/icons/poland.svg"></a>
      </li>
      <li class="header-button__languages navigation__item">
        <a href="/fn"><img src="/styles/css/icons/finland.svg"></a>
      </li>
    </ul>
    <button class="navigation__burger">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</nav>
