<section class="rooms" id="rooms">
  <div class="rooms__section">
  <h3 class="rooms__header"><%=rooms_nav%></h3>
  <div class="rooms__selection">
    <button class="rooms__selection-button">
      <%=room_spichrzowa_button%>
    </button>
    <button class="rooms__selection-button">
      <%=room_katarzynki_button%>
    </button>
    <button class="rooms__selection-button">
      <%=room_katarzynki_7_button%>
    </button>
    <button class="rooms__selection-button">
      <%=room_lawendowa_button%>
    </button>
    <button class="rooms__selection-button">
      <%=room_ogarna_button%>
    </button>
  </div>
  <div class="room">
    <h3 class="room__header">
      <%=room_spichrzowa_header%>
    </h3>
    <div class="room__description">
      <%-room_spichrzowa_description%><br />
    </div>
    <div class="slideshow">
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/171086401.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/171246438.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/178816451.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/178821809.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/178927675.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/178928480.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/178929294.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/178933233.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/179413267.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/186557390.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/186557400.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-1/214166009.jpg">
      </div>
      <button class="slideshow__prev"><i class="fa fa-chevron-left"></i></button>
      <button class="slideshow__next"><i class="fa fa-chevron-right"></i></button>
    </div>
    <button class="room__description-button  more-button"><%=room_more_information_button%></button>
    <article class="room__description-more"><%-room_spichrzowa_more_description%></article>
  </div>
  <div class="room">
    <h3 class="room__header">
      <%=room_katarzynki_header%>
    </h3>
    <div class="room__description">
      <%-room_katarzynki_description%><br />
    </div>
    <div class="slideshow">
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/143584660.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/143906340.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179410871.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179411266.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179411563.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179412256.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179414231.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/191576290.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/191576330.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/215368049.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179412208.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179412756.jpg">
      </div>
      <button class="slideshow__prev"><i class="fa fa-chevron-left"></i></button>
      <button class="slideshow__next"><i class="fa fa-chevron-right"></i></button>
    </div>
    <button class="room__description-button  more-button"><%=room_more_information_button%></button>
    <article class="room__description-more"><%-room_katarzynki_more_description%></article>
  </div>
  <div class="room">
    <h3 class="room__header">
      <%-room_katarzynki_7_header%>
    </h3>
    <div class="room__description">
      <%-room_katarzynki_7_description%><br />
    </div>
    <div class="slideshow">
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/143584660.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/143906340.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179410871.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179411266.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179411563.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179412256.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179414231.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/191576290.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/191576330.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/215368049.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179412208.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-2/179412756.jpg">
      </div>
      <button class="slideshow__prev"><i class="fa fa-chevron-left"></i></button>
      <button class="slideshow__next"><i class="fa fa-chevron-right"></i></button>
    </div>
  </div>
  <div class="room">
    <h3 class="room__header">
      <%=room_lawendowa_header%>
    </h3>
    <div class="room__description">
      <%-room_lawendowa_description%>
    </div>

    <div class="slideshow">
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/193903070.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/193905212.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/193905252.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/193905277.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/193905282.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/193905291.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/193905300.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/215226844.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/215364577.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/215364581.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/215364933.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-3/215364970.jpg">
      </div>
      <button class="slideshow__prev"><i class="fa fa-chevron-left"></i></button>
      <button class="slideshow__next"><i class="fa fa-chevron-right"></i></button>
    </div>
    <button class="room__description-button more-button"><%=room_more_information_button%></button>
    <article class="room__description-more"><%-room_lawendowa_more_description%></article>
  </div>
  <div class="room">
    <h3 class="room__header">
      <%=room_ogarna_header%>
    </h3>
    <div class="room__description">
      <%-room_ogarna_description%><br />
    </div>
    <div class="slideshow">
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/210588154.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/210588167.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/210588173.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/210588178.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/210588182.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/210588188.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/210588191.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/210588198.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/210588200.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/211008962.jpg">
      </div>
      <div class="slideshow__slide">
        <img src="/styles/img/properties/property-4/211008974.jpg">
      </div>
      <button class="slideshow__prev"><i class="fa fa-chevron-left"></i></button>
      <button class="slideshow__next"><i class="fa fa-chevron-right"></i></button>
    </div>
    <button class="room__description-button  more-button"><%=room_more_information_button%></button>
    <article class="room__description-more"><%-room_ogarna_more_description%></article>
  </div>
</div>
</section>
