<section class="rules" id="rules">
  <div>
    <h3><%=rules_nav%></h3>
    <p><%=rules_breakfast%></p>
    <p><%=rules_smoking%></p>
    <ul>
      <li>
        <h4><i class="fas fa-check-square"></i> <%=rules_check%></h4>
        <p><%=rules_check_description%></p>
      </li>
      <li>
        <h4><i class="fas fa-hand-sparkles"></i> <%=rules_housekeeping%></h4>
        <p><%=rules_housekeeping_description%></p>
      </li>
      <li>
        <h4><i class="fas fa-luggage-cart"></i> <%=rules_luggage%></h4>
        <p><%=rules_luggage_description%></p>
      </li>
      <li>
        <h4><i class="fas fa-walking"></i> <%=rules_check_out%></h4>
        <p><%=rules_check_out_description%></p>
      </li>
      <li>
        <h4><i class="far fa-clock"></i> <%=rules_late_check_out%></h4>
        <p><%=rules_late_check_out_description%></p>
      </li>
      <li>
        <h4><i class="fas fa-house-user"></i> <%=rules_prolonging%></h4>
        <p><%=rules_prolonging_description%></p>
      </li>
      <li>
        <h4><i class="fas fa-volume-mute"></i> <%=rules_quiet%></h4>
        <p><%=rules_quiet_description%></p>
      </li>
      <li>
        <h5><i class="fas fa-user-friends"></i> <%=rules_other_visitors%></h5>
        <p><%=rules_other_visitors_description%></p>
      </li>
      <li>
        <h4><i class="fas fa-glass-cheers"></i> <%=rules_parties%></h4>
        <p><%=rules_parties_description%></p>
      </li>
      <li>
        <h4><i class="fas fa-key"></i> <%=rules_lost_keys%></h4>
        <p><%=rules_lost_keys_description%></p>
      </li>
      <li>
        <h4><i class="fas fa-bomb"></i> <%=rules_emergency%></h4>
        <p><%=rules_emergency_description%></p>
      </li>
      <li><%-rules_guest_interaction%></li>
    </ul>
  </div>
</section>
