<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>
  <%- include('navigation') %>
  <%- include('header') %>
  <%- include('about') %>
  <%- include('rooms') %>
  <%- include('client') %>
  <%- include('contact') %>
  <%- include('rules') %>

  <script src="/script/js/rooms.js"></script>
  <script src="/script/js/navigation.js"></script>
  <script src="/script/js/slideshow.js"></script>
</body>

</html>
